html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
}

.header{
    color: #fff;
    padding: 4vh 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    margin: 2vh 2vw;
}
.container>.text{
    text-align: justify;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;   
}

.container>.text>h2{
    padding: 2vh 0;
}

.centered-title {
    text-align: center;
}

.image {
    width: 50vw;
}

/* cambio de color de header segun la pelicula */

.header-antman {
    background: #C81818;
}
.header-antman_and_wisp {
    background: #D2C447;
}
.header-avengers_end_game {
    background: #54268E;
}
.header-antman_quantum {
    background: #183396;
}